@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');
*{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  color-scheme: dark;
}

.list{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;

  input{
    position: absolute;
    left: 39.5%;
  }

  &__options{
    position: absolute;
    left: 65%;
  }

  &__img{
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
  }
}
.modal{
  width: 66%;
  background-color: white;
  align-items: center;
  border-radius: 20px;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -33%;
  margin-top: -20%;
  display: grid;

  h2{
    text-align: center;
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
  }
  
  h3{
    padding-left: 10px;
    background-color: white;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
  }

  &__formButtons{
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;

    &--btnAction{
      width: 270px;
      color: white;
      background-color: #0C70F2;
      border: 0;
      border-radius: 10px;
      height: 80px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 35px;
      cursor: pointer;
    }

    &--btnCancel{
      width: 270px;
      color: black;
      background-color: white;
      border: 1px solid black;
      border-radius: 10px;
      height: 80px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 35px;
      cursor: pointer;
    }

    &--btnAction:active{
      background-color: #2a81f1;
    }

    &--btnCancel:active{
      background-color: #a5a5a5;
    }
  }
}

.editingBox{
  padding: 0 30px;

  &__inputSection{
    display: flex;
    flex-direction: row;
    background-color: white;
    justify-content: space-between;
    align-items: center;

    input{
      background-color: white;
      color: black;
      border: 1px solid #2D2D2D;
      border-radius: 5px;
      height: 50px;
      font-size: 22px;
      margin-bottom: 10px;
      width: 65%;
    }

    textarea{
      background-color: white;
      color: black;
      border: 1px solid #2D2D2D;
      border-radius: 5px;
      font-size: 22px;
      line-height: 29px;
      margin-bottom: 25px;
      width: 65%;
    }
  }

}