@use '../../scss/variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Raleway&display=swap');

*{
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  font-size: 25px;
  line-height: 29px;
  background-color: $color-dark;

}

section{
  display: flex;
  flex-direction: column;
  margin-left: 17%;
  height: 80vh;
}

hr{
  width: 70%;
  height: 2px;
  color:$color-light;
  background-color: $color-light;
  margin-left: 0%;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.tasks{
  width: 100%;
  display: flex;
  flex-direction: row;

  &__title{
    position: relative;
    padding-left: 0.5%;
  }

  &__status{
    position: relative;
    padding-left: 24%;
  }

  &__options{
    position: relative;
    padding-left: 23%;
  }

}


.list{
  display: flex;
  flex-direction: row;
  width: 80%;
  margin-top: 10px;
  margin-left: 10px;
  margin-bottom: 10px;

  &__status{
    align-self: center;
    position: absolute;
    left: 43%;
  }

  label{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 44%;
  }

  label span{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 2px solid $color-light;
    cursor: pointer;
    border-radius: 3px;
  }

  label span::after{
    content: '';
    width: 0px;
    height: 0px;
    left: 9px;
    bottom: 4.5px;
    position: absolute;
    border: solid $color-ascent;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: opacity 0.5s;
  }

  &__status:checked ~ span::after{
    width: 7px;
    height: 18px;
    opacity: 1;
  }

  &__options{
    position: absolute;
    left: 67%;
  }

  &__img{
    height: 20px;
    margin-right: 20px;
    cursor: pointer;
  }

}

.modal{
  width: 66%;
  background-color: $color-light;
  align-items: center;
  border-radius: 20px;
  height: 50%;
  position: absolute;
  left: 50%;
  top: 50%; 
  margin-left: -33%;
  margin-top: -20%;
  display: grid;

  h2{
    text-align: center;
    background-color: $color-light;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
  }
  
  h3{
    padding-left: 10px;
    background-color: $color-light;
    color: black;
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 41px;
  }

  &__formButtons{
    background-color: $color-light;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 0;

    &--btnAction{
      width: 270px;
      color: $color-light;
      background-color: $color-ascent;
      border: 0;
      border-radius: 10px;
      height: 80px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 35px;
      cursor: pointer;
    }

    &--btnCancel{
      width: 270px;
      color: black;
      background-color: $color-light;
      border: 1px solid black;
      border-radius: 10px;
      height: 80px;
      font-style: normal;
      font-weight: 600;
      font-size: 30px;
      line-height: 35px;
      cursor: pointer;
    }

    &--btnAction:active{
      background-color: #2a81f1;
    }

    &--btnCancel:active{
      background-color: #a5a5a5;
    }
  }
}

.addSection{
  margin-top: 10px;

  input{
    border: 0;
    margin-left: 10px;
    width: 62%;
    padding-left: 5px;
  }

  img{
    height: 20px;
    cursor: pointer;
    border: 0;
    margin-left: 5px;
  }

}

.editingBox{
  padding: 0 30px;

  &__inputSection{
    display: flex;
    flex-direction: row;
    background-color: $color-light;
    justify-content: space-between;
    align-items: center;

    input{
      background-color: $color-light;
      color: black;
      border: 1px solid $color-dark;
      border-radius: 5px;
      height: 50px;
      font-size: 22px;
      margin-bottom: 10px;
      width: 65%;
      padding-left: 10px;
    }

    textarea{
      background-color: $color-light;
      color: black;
      border: 1px solid $color-dark;
      border-radius: 5px;
      font-size: 22px;
      line-height: 29px;
      margin-bottom: 25px;
      width: 65%;
      padding-left: 10px;
      resize: none;
    }
  }

}