@use '../../scss/variables' as *;
 
header{
  background-color: $color-ascent;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-end;


  button{
    color: $color-light;
    background-color: $color-ascent;
    height: 55px;
    cursor: pointer;
    border: none;
    margin: 0px 15px;
    border-radius: 10px 10px 0 0;
    width: 175px;
    font-family: 'Poppins', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 38px;
  }

  button:hover{
    background-color: $color-light;
    color: $color-ascent;
    transition: .3s;
  }

}